:root {
  --main-bg-color: #bfd9d7;
  --logo-color: #353745;
  --default-padding: 1rem;
  --default-font: "Montserrat", sans-serif;
  --default-radius: 35px;
  --max-width-mobile: 320px;
  --max-width-desktop: 80%;
  --hover-bg-color: var(--logo-color);
  --hover-color: #fff;
  --default-half: 0.5rem;
  --default-start: 0.8rem;
  --default-start-hover: #353708;
  --default-radius: 10px;
  --default-transition: 0.3s;
  --default-opacity: 0.8;
}

body {
  background: var(--main-bg-color);
  font-family: var(--default-font);
  margin: 0;
  padding: 0;
}

progress {
  width: 100%;
  margin-bottom: var(--default-padding);
}

.app,
.dashboard {
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width-desktop);
}

.app {
  display: none;
}

.logo {
  font-family: var(--default-font);
  font-weight: bold;
  text-transform: uppercase;
  padding: var(--default-padding);
  font-size: 2rem;
  color: var(--hover-color);
  text-align: center;
  background-color: var(--logo-color);
  margin-bottom: var(--default-padding);
}
.question {
  text-align: left;
  margin-bottom: var(--default-padding);
  display: flex;
  align-items: center;
}

.selectBox {
  font-family: var(--default-font);
  display: block;
  text-align: left;
  padding: var(--default-padding);
  margin-bottom: var(--default-half);
  cursor: pointer;
  width: 100%;
  border-radius: var(--default-radius);
  border: 0;
  transition: var(--default-transition);
  outline: none;
}

.selectBox:hover,
.selected {
  background-color: var(--hover-bg-color);
  color: var(--hover-color);
}

.resultBox,
.startOverButton {
  margin: var(--default-half);
  background: var(--logo-color);
  padding: var(--default-padding);
  color: var(--hover-color);
}

.startOverButton {
  font-family: var(--default-font);
  cursor: pointer;
  border: none;
  font-size: var(--default-start);
  border-radius: var(--default-radius);
  transition: var(--default-transition);
}

.startOverButton:hover {
  opacity: var(--default-opacity);
}

.answerBox {
  margin: var(--default-half);
  background: var(--hover-color);
  padding: var(--default-padding);
  color: var(--logo-color);
}

.initButton {
  margin: 0 auto;
  display: block;
}

.homeButton {
  margin: var(--default-half);
  background: var(--logo-color);
  color: var(--hover-color);
  padding: var(--default-half);
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  outline: none;
  transition: var(--default-transition);
  font-size: var(--default-start);
}
.homeButton:hover {
  opacity: var(--default-opacity);
}

.backButton {
  display: inline;
}

.dashboardLogs {
  background-color: #ebebeb;
  padding: var(--default-padding);
  margin-bottom: var(--default-padding);
  border-radius: var(--default-radius);
}

.bold {
  font-weight: 500;
}

.navigationBlock {
  display: flex;
  align-items: end;
  width: 100%;
  justify-content: center;
}

.navigation {
  display: block;
  cursor: pointer;
  margin: var(--default-half);
  background: var(--logo-color);
  padding: var(--default-half) var(--default-padding);
  color: var(--hover-color);
  border: 0;
  border-radius: 5px;
  transition: var(--default-transition);
  outline: none;
  line-height: var(--default-padding);
  height: 2rem;
}
.navigation:hover {
  opacity: var(--default-opacity);
}
